<% provide :title, "All About CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h2>All About Us!</h2>
  <p>CornellRadio.com is an online radio stream programmed for Cornell University students. It's uncensored, and we guarantee a variety of top quality music and conversation just for you. We provide fresh content in the form of music, talk shows, sports commentary, live events and other entertaining content. Looking for EDM for this weekend's party? We've got experienced DJ's spinning new tracks every Thursday, Friday, and Saturday night. Wishing you were at that Big Red sports game? We've got the coverage from our partner organization, Big Red Sports Network. Wanna know about the top pop, hip-hop, and alt-rock tracks of the week? Check out our student DJ personalities and their blogs. From the Hill, For the Hill.</p>
  <br>
  <p>We're located at:</p>
  <address>
    604 E Buffalo St<br>
    Ithaca, NY 14850
  </address>
</div>