<% provide :title, "Connect to CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h1>Get in touch!</h1>
  <p>
    If you would like to get involved with <strong>CornellRadio.com</strong>, or have any questions or comments, please email us at <strong><a href="mailto:launch@cornellradio.org">launch@cornellradio.org</a></strong></p>
  <p>If you would like to make a request, please reach out through our social media accounts:</p>
  <ul>
    <li><em><a href="https://www.facebook.com/CornellRadio">Facebook</a></em></li>
      <li><em><a href="https://twitter.com/CornellRadio">Twitter</a></em></li>
      <li><em><a href="#">YouTube</a></em></li>
      <!--<li><em><a href="#">Instagram</a></em></li>-->
  </ul>
</div>