<div class="box fullBox">
  <iframe src="http://www.google.com/calendar/embed?src=r4mme9iub2l1m8rs6m4oum93fb03hmvb%40import.calendar.google.com&ctz=America/New_York" style=" border-width:0; height:800px !important;" width="940" frameborder="0" scrolling="no"></iframe>
</div>