<% provide :title, "All About CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h1>How can you get involved?</h1>
  <p>
    We at CornellRadio.com are constantly looking for new talent, so if you're interested, we would love to hear from you. We not only have opportunities in DJ'ing, news and sports broadcasting, engineering, promotions, marketing, sales, and programming, but we provide paramount experience in leadership, management, networking, presentation, and creativity.
    <br><br>
    Want to be part of this exciting organization? Looking for comprehensive media experience and amazing opportunities? Have an idea for your own show? We're all ears; we're all you need. Too busy? Send a friend our way. He or she might just become the next Keith Olbermann or Kate Snow (alums of our FM station, WVBR 93.5!).
   <br><br>
    Please contact <a href="mailto:launch@cornellradio.org"><strong>launch@cornellradio.org</strong></a> for more information!
  </p>
</div>