<% provide :title, "Win with CornellRadio.com!" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h1>Win Cool Prizes!</h1>
  <p>Right now we're still working on getting everything set up, but keep checking back here to see all of the awesome prizes you can win through CornellRadio.com!</p>
</div>