<% provide :title, "Posts from CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h1>Posts</h1>
  <ol class="posts">
    <%= render @posts %>
  </ol>
</div>