@import "bootstrap";

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
}

header {
  margin-bottom: 25px;
  /*background-color: #cf2132;*/
  background-image: image-url('HEADER_8.jpg');
  background-size: 100%;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  height: 144px;
  // padding: 15px;
  font-size: 300%;
  #listen {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
  }
  .listen-alts {
    background-color: rgba(0,0,0,0.6);
    padding: 6px;
    display: block;
    font-size: 35%;
    margin-left: 20px;
    color: white;
    text-shadow: 2px 2px black;
    a:hover {
      color: white;
    }
  }
  #logo {
    margin-top:15px;
    float: right;
    margin-right: 25px;
  }
}

p {
  font-size: 100%;
}

hr {
  border: 0;
  border-top: 1px solid $grayLight;
  margin: 10px 0px;
}

.options {
  background-color: black;
  border: thin white solid;
  border-right: none;
  position: fixed;
  top: 10px;
  right: 0;
  font-size: small;
  color: white;
  padding: 10px;
  padding-right: 20px;
  box-shadow: 1px 1px 3px $grayDark;
  z-index: 10;
  a {
    color: white;
  }
  ol {
    padding: 0;
    list-style: none;
  }
}

.container {
  // width: 890px;
}

body {
  background-image: image-url('red-grunge-background-1080.jpg');
}

.navbar {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  border: thin lighten($grayLight, 20%) solid;
  // border-top: thin white solid;
  // border-bottom: thin white solid;
  border-radius: 10px;
  .navbar-inner {
    border-radius: 10px;
  }
  a {
    font-weight: normal;
  }
}

.box {
  border: thin $grayDark solid;
  box-shadow: 1px 1px 3px $grayDark;
}

.feedBox {
  width: 63%;
  background: white;
  margin-bottom: 20px;
  padding: 10px;
  h3 {
    color: $gray;
  }
}

.sideBox {
  float: right;
  background: white;
  width: 35%;
  padding: 10px;
}

.formBox {
  width: 70%;
  background: white;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  h3 {
    color: $gray;
  }
}

.sideList {
  padding: 0;
  // border-top: 1px solid $grayLight;
  padding-top: 10px;
  list-style: none;
}

textarea.full {
  width: 400px;
  height: 150px;
}

.on_now {
  border: none;
  height: 60px;
  border-top: black thin;
  border-bottom: black thin;
}

ol {
  padding: 20px;
}

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  max-height: 1000px;
  overflow: scroll;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $errorBackground;
    }
  }
  .title {
    font-size: 120%;
  }
  .content {
    display: block;
  }
  .timestamp {
    color: $grayLight;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.col1 {
  float:left;
}

.col2 {
  float: left;
  margin-left: 40px;
}

.index {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 20px;
    border-top: 1px solid #e8e8e8;
    &:hover {
      background-color: $errorBackground;
    }
    max-width: 225px;
  }
  .pic {
    width: 52px;
  }
  .title {
    font-size: 120%;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}

table {
  background-color: white;
  padding: 10px;
  .show {
    display: table-cell;
    color: white;
    text-align: center;
    background-color: $red;
    a:hover {
      color: white !important;
    }
  }
  th {
    border: black thin solid;
  }
  td {
    text-align: center;
    border: black thin solid;
  }
}

.connect-list {
  list-style: none;
  li {
    margin: 20px 0;
    vertical-align: top;
    font-weight: bold;
  }
}