<li>
  <%= link_to(show) do %>
    <% if ! show.profile_pic.blank? %>
      <%= image_tag show.profile_pic.url, class: "pic" %>
    <% end %>
    <span class="title"><%= show.title %></span>
  <% end %>
</li>
</a>