<% provide :title, "Our shows" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox" style="height:<%= (@shows.count/2+1)*72 + 160 %>px">
  <h1>Our Shows</h1>
  <div class="col1">
    <ol class="index">
      <%= render @shows.all(limit: @shows.count/2, order: :title) %>
    </ol>
  </div>
  <div class="col2">
    <ol class="index">
      <%= render @shows.all(offset: @shows.count/2, order: :title) %>
    </ol>
  </div>
</div>
