<% provide :title, "Podcasts from CornellRadio.com" %>
<div class="box sideBox">
  <%= render 'shared/on_now' %>
</div>
<div class="box feedBox">
  <h1>Podcasts</h1>
  <ol class="posts">
    <%= render @podcasts %>
  </ol>
</div>